body {
  background: transparent; /* Make it white if you need */
  padding: 0 24px;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 a:link
{
    text-decoration: none;
}
.App {
  color: #72a24d;
}

.HomeBack{
  background-color: #fbf7f5;
  width:100vw;
  height:100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.HeaderColor{
  color:	#fbc7c9;
  text-decoration: none;
}

.LinkColor{
  color:	#fbc7c9;
  text-decoration: none;
  text-align: center;
    font-size: 10vw;

}
.LinkColor:hover {
  /* text-decoration: none; */
  color: #f79094;
  /* background-color: red; */
}

.TitleBig{
  color:	#fbc7c9;
  text-align: center;
  font-size: 20vw;
  margin-top: 0;
    margin-bottom: 0;

}
.tinyTitle{
  color:	#fbc7c9;
  text-align: center;
  font-size: 2vw;
}
.titleImage {
  content:url('./images/run.jpg');
  display: block;
  width: 30%;
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
}